<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
	.columnContainer {
  display: flex;
  flex-direction: row;
  width: 1800px;
  height: 1800px;
}

.imageContainer {
  flex-basis: 100%;
  text-align: center;
  background-image: url("image/a.jpg");
 /* background: url('http://imgsv.imaging.nikon.com/lineup/dslr/df/img/sample/img_01.jpg') top no-repeat;*/
  background-size: cover;
  width: 50px;
  height: 50px
}
</style>
</head>
<body>
<div class="columnContainer">
  <div class="imageContainer">
    <h4>Text</h4>
  </div>
  <div class="imageContainer">
    <h4>Text</h4>
  </div>
  <div class="imageContainer">
    <h4>Text</h4>
  </div>
</div>
</body>
</html>